.react-search-field  {
    height: 33px !important;
}

.react-search-field-input {
    padding: 1px !important;
    color: black !important;
    font-weight: 800 !important;
}

.searchContainer {
    text-align: center;
    margin-bottom: 10px}
